---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Audiophile e-commerce website">
  <Header />
  <main class="container mx-auto"></main>
</Layout>
