---
import "@/styles/globals.css";
---

<header
  class="bg-black-bg px-[10.31rem] py-[2.19rem] flex justify-between items-center relative"
>
  <img src="/images/shared/desktop/logo.svg" alt="logo" />
  <ul
    class="text-white flex flex-row items-center gap-[2.12rem] text-sm font-bold leading-6 tracking-[0.125rem] uppercase"
  >
    <li><a href="/">Home</a></li>
    <li><a href="/headphones">Headphones</a></li>
    <li><a href="/speakers">Speakers</a></li>
    <li><a href="/earphones">Earphones</a></li>
  </ul>
  <a href="/checkout"
    ><img src="/images/shared/desktop/icon-cart.svg" alt="icon-cart" /></a
  >
</header>
